body{
    background-color: #FFFFCC;
}
h2{
    text-decoration: underline;
}
#navigation{
    text-indent: 25%;
    text-align: center;
}
#tablesectionOne{
    table-layout: fixed;
    text-align: center;
    background-color: #FFFFDD;
    position: absolute;
    top: 7em;
}
#tablesectionTwo{
    table-layout: fixed;
    text-align: center;
    background-color: #FFFFDD;
    position: absolute;
    top: 7em;
}
#tablesectionThree{
    table-layout: fixed;
    text-align: center;
    background-color: #FFFFDD;
    position: absolute;
    top: 7em;
}
#tablesectionFour{
    table-layout: fixed;
    text-align: center;
    background-color: #FFFFDD;
    position: absolute;
    top: 7em;
}
.CAPTION{
    background-color: rgb(255,185,115);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}
th{
    border-style: solid;
    border-color: #d0d0d0;
    empty-cells: show;
}
td{
    border-style: solid;
    border-color: #d0d0d0;
    empty-cells: show;
}